Product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 (x64) (http://www.altova.com) by Chad (US ARMY SED) -->
<!--W3C Schema generated by XMLSpy v2012 (x64) (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Version">
		<xsd:annotation>
			<xsd:documentation>Product version information.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="UninstallString">
		<xsd:annotation>
			<xsd:documentation>Legacy Support - The string used to execute an uninstall of a product.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="RegistryCheck">
		<xsd:annotation>
			<xsd:documentation>Indicates that a check should be performed against the registry to determine if an application has already been installed, for example.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" use="required">
				<xsd:annotation>
					<xsd:documentation>The value in the key</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Key" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>The registry key to search for</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute ref="CompareType" use="required">
				<xsd:annotation>
					<xsd:documentation>The type of comparison to use</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
      <xsd:attribute ref="ReEvaluate" use="optional">
        <xsd:annotation>
          <xsd:documentation>Determines whether or not this InstallCondition should be reevaluated. Defaulted to true.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
		</xsd:complexType>
	</xsd:element>
  <xsd:element name="MsiProductCheck">
    <xsd:annotation>
      <xsd:documentation>Indicates that a check should be performed against the registry to determine if an application has already been installed, for example.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:attribute name="ProductCode" type="xsd:string" use="required">
        <xsd:annotation>
          <xsd:documentation>The product Guid of the MSI search for</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute ref="CompareType" use="required">
        <xsd:annotation>
          <xsd:documentation>The type of comparison to use</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute ref="ReEvaluate" use="optional">
        <xsd:annotation>
          <xsd:documentation>Determines whether or not this InstallCondition should be reevaluated. Defaulted to true.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>
	<xsd:element name="PrimaryCommand">
		<xsd:annotation>
			<xsd:documentation>A command that installs a product or performs some type of "setup" action.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Name"/>
				<xsd:element ref="Description" minOccurs="0"/>
				<xsd:element ref="Arguments" minOccurs="0"/>
				<xsd:element ref="FileHash" minOccurs="0"/>
				<xsd:element ref="EstimatedInstalledBytes" minOccurs="0"/>
				<xsd:element ref="ISSFile" minOccurs="0"/>
				<xsd:element ref="UninstallAction" minOccurs="0"/>
				<xsd:element ref="InstallConditions" minOccurs="0"/>
				<xsd:element ref="ExitCodes"/>
				<xsd:element ref="Guid" minOccurs="0"/>
				<xsd:element ref="Disk" minOccurs="0"/>
			</xsd:all>
			<xsd:attribute ref="Reboot" use="required"/>
			<xsd:attribute ref="PackageFile" use="required"/>
			<xsd:attribute ref="Type"/>
			<xsd:attribute ref="Description"/>
			<xsd:attribute name="Version" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Version of the product being installed.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PrereqCommand">
		<xsd:annotation>
			<xsd:documentation>Commands that represent prerequisites for a product being installed.  These commands are executed prior to a primary command.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Name"/>
				<xsd:element ref="Description" minOccurs="0"/>
				<xsd:element ref="Arguments" minOccurs="0"/>
				<xsd:element ref="FileHash" minOccurs="0"/>
				<xsd:element ref="EstimatedInstalledBytes" minOccurs="0"/>
				<xsd:element ref="ISSFile" minOccurs="0"/>
				<xsd:element ref="UninstallAction" minOccurs="0"/>
				<xsd:element ref="InstallConditions" minOccurs="0"/>
				<xsd:element ref="ExitCodes"/>
				<xsd:element ref="Guid" minOccurs="0"/>
			</xsd:all>
			<xsd:attribute ref="Reboot" use="required"/>
			<xsd:attribute ref="PackageFile" use="required"/>
			<xsd:attribute ref="Type"/>
			<xsd:attribute ref="Description"/>
			<xsd:attribute name="Version" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Version of the product being installed.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PostIntallCommand">
		<xsd:annotation>
			<xsd:documentation>Commands that represent prerequisites for a product being installed.  These commands are execute prior to a primary command.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Name"/>
				<xsd:element ref="Description" minOccurs="0"/>
				<xsd:element ref="Arguments" minOccurs="0"/>
				<xsd:element ref="FileHash" minOccurs="0"/>
				<xsd:element ref="EstimatedInstalledBytes" minOccurs="0"/>
				<xsd:element ref="ISSFile" minOccurs="0"/>
				<xsd:element ref="UninstallAction" minOccurs="0"/>
				<xsd:element ref="InstallConditions" minOccurs="0"/>
				<xsd:element ref="ExitCodes"/>
				<xsd:element ref="Guid" minOccurs="0"/>
			</xsd:all>
			<xsd:attribute ref="Reboot" use="required"/>
			<xsd:attribute ref="PackageFile" use="required"/>
			<xsd:attribute ref="Type" use="required"/>
			<xsd:attribute ref="Description" use="required"/>
			<xsd:attribute name="Version" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>Version of the product being installed.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DeprecatedCommand">
		<xsd:annotation>
			<xsd:documentation>Commands that represent prerequisites for a product being installed.  These commands are execute prior to a primary command.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Name"/>
				<xsd:element ref="Description" minOccurs="0"/>
				<xsd:element ref="Arguments" minOccurs="0"/>
				<xsd:element ref="FileHash" minOccurs="0"/>
				<xsd:element ref="EstimatedInstalledBytes" minOccurs="0"/>
				<xsd:element ref="ISSFile" minOccurs="0"/>
				<xsd:element ref="UninstallAction" minOccurs="0"/>
				<xsd:element ref="InstallConditions" minOccurs="0"/>
				<xsd:element ref="ExitCodes"/>
				<xsd:element ref="Guid" minOccurs="0"/>
			</xsd:all>
			<xsd:attribute ref="Reboot" use="required"/>
			<xsd:attribute ref="PackageFile" use="required"/>
			<xsd:attribute ref="Type" use="required"/>
			<xsd:attribute ref="Description" use="required"/>
			<xsd:attribute name="Version" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>Version of the product being installed.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Package">
		<xsd:annotation>
			<xsd:documentation>Represents a single product that is being installed onto the system.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="Name"/>
				<xsd:element ref="Description"/>
				<xsd:element ref="Guid"/>
				<xsd:element ref="UninstallString" minOccurs="0"/>
				<xsd:element ref="Version" minOccurs="0"/>
				<xsd:element ref="Commands"/>
				<xsd:element name="SchemaVersion" type="xsd:string" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Which version of the Product.xsd schema this package is compliant with.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Logo" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Paths to the small and large images shown in the wizard during a product install.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="Small" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Path to the small image shown in the wizard.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="Large" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Path to the large image shown in the wizard.</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OSVersionCheck">
		<xsd:annotation>
			<xsd:documentation>Used to indicate the operating system version and, potentially, the architecture should be checked prior to installation of a product.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" use="required">
				<xsd:annotation>
					<xsd:documentation>The OS version to compare against.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal"/>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute ref="CompareType" use="required">
        <xsd:annotation>
          <xsd:documentation>The type of comparison to use</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
			<xsd:attribute name="Architecture">
				<xsd:annotation>
					<xsd:documentation>If the system architecture is important, this value is checked during installation. i.e. x86</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:attribute>
      <xsd:attribute ref="ReEvaluate" use="optional">
        <xsd:annotation>
          <xsd:documentation>Determines whether or not this InstallCondition should be reevaluated. Defaulted to true.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Name" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>The name of the product being installed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InstallConditions">
		<xsd:annotation>
			<xsd:documentation>Conditions that are applied during the installation of a product.  Used to determine if prerequisites have been installed or if an older version of the software is installed, etc..</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="RegistryCheck" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="OSVersionCheck" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="FileCheck" minOccurs="0" maxOccurs="unbounded"/>
        				<xsd:element ref="MsiProductCheck" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ISSFile">
		<xsd:annotation>
			<xsd:documentation>The name of the ISS file, if needed.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Guid">
		<xsd:annotation>
			<xsd:documentation>Unique identifier</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FileHash">
		<xsd:annotation>
			<xsd:documentation>Legacy Support</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="FileCheck">
		<xsd:annotation>
			<xsd:documentation>Used to indicate that the file version for a file already on the system should be checked prior to installing a newer (or potentially older) version of the file.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="FileName" use="required">
				<xsd:annotation>
					<xsd:documentation>The name of the file being checked.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Version" use="required">
				<xsd:annotation>
					<xsd:documentation>The file version to compare against.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal"/>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute ref="CompareType"/>
			<xsd:attribute name="SpecialFolder" use="optional">
				<xsd:annotation>
					<xsd:documentation>If file is in a special folder, which special folder to use.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:attribute>
      <xsd:attribute ref="ReEvaluate" use="optional">
        <xsd:annotation>
          <xsd:documentation>Determines whether or not this InstallCondition should be reevaluated. Defaulted to true.</xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ExitCodes">
		<xsd:annotation>
			<xsd:documentation>The set of valid exit code values and the behavior for each.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="ExitCode" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A defined exit code received from a product installer.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="DefaultExitCode">
						<xsd:annotation>
							<xsd:documentation>The default behavior for a product install after completion if expected exit codes are not received.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ExitCode">
		<xsd:annotation>
			<xsd:documentation>The exit code returned from individual installers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" type="xsd:int" use="required">
				<xsd:annotation>
					<xsd:documentation>The exit code returned from the product installer.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Result" use="required">
				<xsd:annotation>
					<xsd:documentation>The action performed based on the value returned from the product installer.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Fail"/>
						<xsd:enumeration value="Success"/>
						<xsd:enumeration value="SuccessReboot"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Message" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>The message displayed to the user for the given result value.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EstimatedInstalledBytes">
		<xsd:annotation>
			<xsd:documentation>Legacy Support - Estimated size of product on disk after installation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:int"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Description" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Brief description of the product being installed.  Displayed to the user during installation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DefaultExitCode">
		<xsd:annotation>
			<xsd:documentation>The default behavior and exit code for a command.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Result" use="required">
				<xsd:annotation>
					<xsd:documentation>The action performed based on the value returned from the product installer.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Fail"/>
						<xsd:enumeration value="Success"/>
						<xsd:enumeration value="SuccessReboot"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="Message" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>The message displayed to the user for the given result value.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Commands">
		<xsd:annotation>
			<xsd:documentation>The set of commands representing the actions to be performed during the installation of a product.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PrimaryCommand" maxOccurs="unbounded"/>
					<xsd:element ref="DeprecatedCommand" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="PrereqCommand" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="PostIntallCommand" minOccurs="0"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Arguments" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Command-line arguments, if needed.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Action" substitutionGroup="Name">
		<xsd:annotation>
			<xsd:documentation>Legacy Support - The action being performed. Substitution for Name.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:attribute name="CompareType">
		<xsd:annotation>
			<xsd:documentation>The type of comparison to be performed- i.e. ValueEqualTo</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="ValueEqualTo"/>
				<xsd:enumeration value="ValueNotEqualTo"/>
				<xsd:enumeration value="ValueLessThan"/>
				<xsd:enumeration value="ValueLessThanOrEqualTo"/>
				<xsd:enumeration value="ValueGreaterThan"/>
				<xsd:enumeration value="ValueGreaterThanOrEqualTo"/>
				<xsd:enumeration value="VersionEqualTo"/>
				<xsd:enumeration value="VersionNotEqualTo"/>
				<xsd:enumeration value="VersionLessThan"/>
				<xsd:enumeration value="VersionLessThanOrEqualTo"/>
				<xsd:enumeration value="VersionGreaterThan"/>
				<xsd:enumeration value="VersionGreaterThanOrEqualTo"/>
				<xsd:enumeration value="ValueExists"/>
				<xsd:enumeration value="ValueNotExists"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
  <xsd:attribute name="ReEvaluate">
    <xsd:annotation>
      <xsd:documentation>Determines whether or not an InstallCondition should be reevaluated. Defaulted to true.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
  </xsd:attribute>
	<xsd:attribute name="Reboot">
		<xsd:annotation>
			<xsd:documentation>Action to be performed if a product installer returns a reboot code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Defer"/>
				<xsd:enumeration value="Immediate"/>
				<xsd:enumeration value="Force"/>
				<xsd:enumeration value="None"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="PackageFile">
		<xsd:annotation>
			<xsd:documentation>The XML file in which the command is defined.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="Type">
		<xsd:annotation>
			<xsd:documentation>The type of command- i.e. install or action</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Install"/>
				<xsd:enumeration value="Action"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="Description" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Brief description of the command.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:element name="Disk" type="xsd:int">
		<xsd:annotation>
			<xsd:documentation>Defines on which disk, for a spanned install, the executable is located</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UninstallAction">
		<xsd:annotation>
			<xsd:documentation>Uninstall action used by commands.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Command" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>The path and name of the executable to run for an uninstall of the product.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Args" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Command-line arguments for the uninstall executable.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
